{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="overlay-gallery"></div>

	<section class="showcase" style="margin-bottom: 10% !important;">
		<header>
			<h2 class="logo" id="top-left">
				<a href="{% url 'video' %}" style="color: black; position: absolut;">Video</a></h2>
			<h2 class="logo" id="top-right">
				<a href="{% url 'main' %}" style="color: black; position: absolut;">Home</a></h2>
		</header>


        <div class="column" style="margin-bottom: 30% !important;">
            <div class="row mt-5 grid">

                {% if allphotos %}
                    {% for photo in allphotos %}
                            <img class="img-fluid fit-photo" src="{{ MEDIA_URL }}{{ photo.photo }}" id="{{ MEDIA_URL }}{{ photo.id }}">
                    {% endfor %}
                {% endif %}

            </div>
        </div>

    </section>

	<div class="social-gallery">
		<a href="mailto:danileyko@gmail.com">
			<img src="{{ STATIC_URL }}img/email.png" alt=""></a>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/gallery.js"></script>

{% endblock %}