* {
	box-sizing: border-box;
	margin: 0;
	padding; 0;
	font-family: 'Poppins', sans-serif;
}

.horizontal_vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.showcase {
	position: absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

ul.social.d-flex.justify-content-center {
    padding: 0rem !important;
    margin-bottom: 0rem !important;
}

@media screen and (min-width: 550px) {
.showcase {
    padding: 12%;
    }
}

.showcase header {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 6% 14%;
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.showcase header a {
	color: #fff;
	text-decoration: none;
}

.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABtJREFUGFdjZGBg+M/AwMDIAAVwBjYBsEoMFQBW5gIF0HSEnwAAAABJRU5ErkJggg==
		) repeat;
	mix-blend-mode: overlay;
}

.pages header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.pages header a {
        color: black;
        text-decoration: none;
}

.text {
	position: relative;
	z-index: 10;
	margin-top: 100px;
}

.text h2 {
	font-size: 3em;
	font-weight: 600;
	line-height: 0.8em;
	margin-top: 100px;
	text-transform: uppercase;
}


.text h3 {
    font-size: 2em;
    font-weight: 600;
    line-height: 0.8em;
    text-transform: uppercase;
}


.text p {
	font-size: 1.1em;
	margin: 20px 0;
	font-weight: 400;
	font-width: 700px;
}

/*     BOTTOM ICONS     */
.social {
	position: absolute;
	bottom: 0% !important;
	z-index: 10;
}

.social li {
	list-style: none;
	padding 0% !important;
	margin 0% !important;
}


.social li a {
	display: inline-block;
	filter: invert(1);
	margin-right: 20px;
	transform: scale(0.25);
	transition: 0.5s;
	padding 0% !important;
	margin 0% !important;

}

.social li a:hover {
	transform: scale(0.25) translateY(-30px);
}

@media screen and (min-width: 550px) {
.showcase social {
    padding: 6%;
    }
}

/*     BOTTOM ICONS     */

/*     PHOTO PAGE     */
.collection-template__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.container--wide {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.product-card__image {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 20px;
    padding-bottom: 2rem !important;
}
/*     PHOTO PAGE     */